.table_upper_div{
direction: rtl;
}
.example1{
float:none;
margin:0 auto;
}
.example1 td{
padding-bottom:20px;
width:40%;
text-align:center
}
.adon{
width:100%;
position:relative
}
.role_head1{
font-size:17px !important;
color:#444
}
.border_checkbox{
border-right:1px solid black;
padding-right:15px
}
.save-btn{
text-align:center;
margin-top:30px
}
.input_file{
direction:ltr
}
#basic-addon1{
background:#eee
}
.checkbox_div{
display:none;
position:absolute;
z-index:1000;
background:#ddd;
margin-bottom:100px !important;
width:120%
}
.add_que_div{
background:#ddd
}

.plus_fa{
margin-right:10px
}
.add_remove_f{
cursor:pointer
}
.plus_below{
overflow:hidden;
float:none;
margin:0 auto;
}
/* new styling */
.table_view{
float:none;
margin:0 auto;
padding-bottom:20px
}
.pad_view{
padding-bottom:20px;
padding-top:20px
}
.table_view_plus{
float:none;
margin:0 auto;
background:#ddd;
min-height:40px;
border-radius:5px;
font-size:20px;
line-height:1.8
}
.add_field_button{
background:transparent;
cursor:pointer
}
.add_field_button a{
background:transparent;
border:0;
font-size:18px;
color:#333
}
.add_field_button i{
color:#333
}
.add_field_button a:hover{
color:#333
}
.point{
cursor:pointer
}
.table_view_plus i{
margin-right:10px
}
.plus_opt{
cursor:pointer
}
.times-fa{
cursor:pointer
}
.text-que{
width:97% !important;
}
.text-que_div{
margin-top:30px
}
.ques_bottom{
margin-top:20px;
margin-bottom:20px;
}
.close-btn{
margin-top:10px
}
.plus-fa{
margin-right:10px
}
.sub_btn{
margin-top:60px;
display:none
}
.field_show{
margin:0 auto;
float:none
}
.id_wrapper{
min-height:1200px !important;
}
.position_{
margin-right:50px;
margin-left:50px;
color:#bbb;
}
.name_work_{
margin-right:0px
}
.name_work_no{
margin-right:40px
}
.name_work_show{
margin-left:-30px;
}

@media screen and(-webkit-min-device-pixel-ratio:0) {
  .id_wrapper {-chrome-:only(; 
     min-height:1200px;
  );} 
}

/*  table  */
.check-list-tbl{
line-height:1.3;
}


/*  table  */

/*  checkbox  */
/*  checkbox  */

    	 @media(max-width:980px){
.text-que{
width:70% !important;
}
		 }

    	 @media(max-width:800px){
.table_view{
width:100%
}

		 }
    	 @media(max-width:360px){
.check_blue{
width:100%;
background:#ddd
}

.text-que{
width:100% !important;
}
		 }
    	 @media(max-width:320px){
.check_blue{
display:none
}

.save-btn{
display:none
}
		 }		 